@model IEnumerable<WebAppECartDemo.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<body style="background-color:lemonchiffon">
    </body>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }

    </table>
